.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 5rem;
    width: 100%;
}
.new-collections h1{
    color: #171717;
    font-size: 2rem;
    font-weight: 600;
}
.new-collections hr{
    width: 15%;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    opacity: 1;
    margin: 0;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 2%;
}
@media(max-width:1280px){
    .new-collections{
        height: auto;
    }
    .new-collections h1{
        font-size: 2rem;
    }
    .new-collections hr{
        width: 160px;
        height: 4px;
    }
    .collections{
        gap: 1.1%;
        margin-top: 30px;
    }
}
@media(max-width:1024px){
    .new-collections{
        height: auto;
    }
    .new-collections h1{
        font-size: 1.6rem;
    }
    .new-collections hr{
        width: 120px;
        height:3px;
    }
    .collections{
        gap: 4%;
        margin-top: 25px;
        justify-items: space-evenly;
    }
}
@media(max-width:800px){
    .new-collections{
        gap: 6px;
    }
    .new-collections h1{
        font-size: 20px;
    }
    .new-collections hr{
        width: 100px;
    }
    .collections{
        gap: 5px
    }

}
@media(max-width:500px){
    .collections{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
}